/* Error notification */
.card-error {
    color: #8B1A1A;
    font-size: 1rem;
    margin: 0.75rem 0 0;
    font-weight: 700;
    font-style: italic;
}

.road {
    position: absolute;
    /* position */
    left: 0%;
    top: 22%;
    /* scale */
    width: 100%;
    height: auto;
    z-index: 5;
}